body {
	background-color: black;
}
.wd-content {
	margin-left: 16px;
	border-style: solid;
	border-width: thin;
	border-color: rgb(47, 51, 54);
}

.wd-content div {
	border-bottom: thin solid rgb(47, 51, 54);
}

.wd-content .wd-heading .wd-heading-search-bar {
	width: 60%;
	height: 25px;
	background-color: darkgray;
	border-radius: 10px;
	color: white;
	margin: 16px;
}

.wd-content .wd-heading ul {
	padding-inline-start: 0px;
}
.wd-content .wd-heading .wd-heading-hyperlinks-hyperlink-selected {
	color: rgb(29, 161, 242);
	border-bottom: 7px solid rgb(29, 161, 242);
}

.wd-content .wd-heading ul li {
	display: inline;
	color: white;
	font-size: 15px;
	padding: 16px;
}

.wd-content .wd-heading ul li a {
	text-decoration: none;
	color: inherit;
}
.wd-content .wd-heading .wd-explore-settings {
	float: right;
	padding: 12px;
	text-decoration: none;
	color: rgb(29, 161, 242);
}

.wd-content .wd-trending {
	color: white;
}

.wd-content .wd-trending ul {
	list-style: none;
}

.wd-content .wd-trending li {
	padding-bottom: 10px;
}

.wd-content .wd-trending ul li .wd-trending-post,
.wd-content .wd-trending ul li .wd-tuit-count {
	color: rgb(110, 118, 125);
	font-size: 13px;
}

.wd-more-info {
	float: right;
	margin: 16px;
	text-decoration: none;
}

.wd-suggestion {
	clear: both;
	overflow: hidden;
}

.wd-content .wd-trending ul li h3 {
	margin: 1px;
	margin-right: 10px;
}

.wd-content .wd-trending .wd-author-post {
	font-size: 14px;
	font-weight: bold;
}

.wd-content .wd-trending .wd-post-image {
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 10px;
}
