.wd-content .wd-heading .wd-handle {
	color: lightgray;
	font-size: 13px;
	margin-bottom: 12px;
}

.wd-more-info-blue {
	font-size: 20px;
	float: right;
	text-decoration: none;
	color: rgb(29, 161, 242);
	margin-right: 16px;
	margin-bottom: 12px;
}

.wd-more-info-gray {
	font-size: 20px;
	float: right;
	text-decoration: none;
	color: darkgray;
	margin-right: 16px;
	margin-bottom: 12px;
}

.wd-grid-col-left-profile-pic {
	width: 76px;
	float: left;
}

.wd-grid-col-right-half-page {
	width: calc(100% - 76px);
	float: left;
	border-right: 1px;
}

.wd-profile-pic {
	width: 48px;
	height: 48px;
	margin-top: 12px;
	margin-left: 16px;
	margin-right: 12px;
	border-radius: 100%;
}

.wd-bookmark {
	overflow: hidden;
}

.wd-author,
.wd-user-handle,
.wd-post {
	font-size: 15px;
}

.wd-author,
.wd-post {
	color: white;
}

.wd-user-handle {
	color: lightgray;
}

.wd-post {
	max-width: 506px;
}

.wd-post-pic {
	width: 504px;
	height: 264px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid lightgray;
	margin: 0px;
}

.wd-main-content {
	color: lightgray;
	max-width: 504px;
	padding: 12px;
	margin: 0px;
}

.wd-post-content {
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 504px;
}

.wd-icons {
	padding-left: 0;
	color: lightgray;
	font-size: 15px;
}

.wd-icons li {
	display: inline-block;
	list-style: none;
	margin-right: 50px;
}

.wd-icons li a {
	text-decoration: none;
	color: lightgray;
	margin-right: 12px;
}

.wd-liked {
	color: red;
}

.wd-icons .wd-liked a {
	color: red;
}
