/*
2.13
*/
.class-0 {
	background-color: red;
	color: white;
}

/*
2.14
*/
.class-1 {
	background-color: blue;
	color: white;
}
.class-2 {
	background-color: green;
	color: yellow;
}

/*
2.15
*/
.im-hidden {
	display: none;
}
